node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.log
bin/
.env
.git/
kubernetes/
.codeclimate.yml
.editorconfig
.gitignore
README.md
.vscode/
.github/
.devcontainer/
scripts/
docker/
