__pycache__/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.accio/
.build/
.cache/
.coverage
.dockerconfigjson
.DS_Store
.eggs/
.env
.flaskenv
.pytest_cache/
.swiftpm
.tox/
.venv/
.workon
*.dSYM
*.dSYM.zip
*.egg
*.egg-info/
*.env
*.hmap
*.iml
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.perspectivev3
*.pyc
*.swp
*.xccheckout
*.xcodeproj
*.xcscmblueprint
/.mypy_cache/
build/
cover/
coverage.xml
db.sqlite
Dependencies/
DerivedData/
dist
docs/_build
env/
htmlcov
junit-report.xml
kubernetes/secrets/dev/tokens.txt
MANIFEST
newrelic.ini
nosetests.xml
Package.resolved
Packages
pylint.ini
secrets.env
src/configs/*.env
t.py
t2.py
toy.py
venv/
xcuserdata
Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
! .env.example
.vscode
